    .row {
        width: 50%;
       
    }
    
    
    #descripcion {
        margin-top: 15px;
        text-align: left;
    }

    .bg-darks {
        background-color: #3D3D3D;
    }


    #m{
        text-align: center;
        margin-top: 300px;
    }

    .ImgSucursales {

        float: left;
        position: relative;

        margin-right: 55px;
        margin-left: 55px;
        margin-bottom: 55px;
    }

    #a {
        text-align: justify;
        margin: 54px;
    }

    #fotoprincipal {
        margin: 54px;
    }

    #tituloPrinc{
        font-size: 50px;
        margin: 20px;
    }
    
    #logo{
        margin-top: 0px;
        margin-left: 40px;
        float: left;
      }

    .topItem {
        background-color: #FFF28C;
        border: 0px #FFF28C ;
        padding: 25px;
        text-align: center;
    }

    #titulo{
        margin-right: 59px;
    }

    #topItem{
        background-color: #FFF28C;
        border: 1px solid black;
        padding: 45px;
        text-align: center;
    }

    #Barra{
        margin-top: 10px;
    }
   
