* {
    box-sizing: border-box;
}



.container-items {
	display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 10px;
    max-width: 2000px;
}

ul {
    list-style-type: none;
}

.topItem {
    background-color: yellow;
    border: 1px solid black;
    padding: 45px;
    text-align: center;
}

.item {
    background-color: white;
    padding: 10px;
    margin-left: 0px;
    border: 5px solid black;
    font-style: normal;
    /* text-decoration: underline; */
    /* margin-bottom: 30px; */
}

.subItem {
    background-color: white;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
    color: rgb(42, 67, 180);
} 

.nav-item {
    text-align: center;
    box-sizing: content-box;

}


.footerItem {
    background-color: yellow;
      padding: 30px; /* Espacio de 10 pixeles entre el texto y el borde del div */
      border: 1px solid black;
  }



