* {
    box-sizing: border-box;
}



.container-items {
	display: grid;
    grid-template-columns: 15% 80%;
    grid-gap: 10px;
    max-width: 2000px;
}

ul {
    list-style-type: none;
}

.topItem {
    background-color: yellow;
    border: 1px solid black;
    padding: 45px;
    text-align: center;
}

.item {
    background-color: white;
    padding: 10px;
    /* margin-left: 0px; */
    border: 1px solid black;
    font-style: normal;
    /* text-decoration: underline; */
}

.formulario {
    height: 300px;
}

.subItem {
    background-color: lightsalmon;
    border: 1px solid black;
    /* margin: auto; */
    /* padding-top: 10px; */
    padding-right: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(42, 67, 180);
} 

.serv-button {
    /* width: 170px; */
    width: 100%;
}

.nav-item {
    text-align: center;
    box-sizing: content-box;

}



.footerItem {
    background-color: yellow;
      padding: 30px; /* Espacio de 10 pixeles entre el texto y el borde del div */
      border: 1px solid black;
  }




  /* Id's  */

  #wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    /* width: 300px; */
    float:left; /* add this */
    border: 1px solid red;
}
#second {
    border: 1px solid green;
    float: left;
    /* if you don't want #second to wrap below #first */
    overflow: hidden;
}